{% extends "layout.html" %}
{% block header %}
  <title>Add Member</title>
{% endblock %}

{% block body %}
  <p><b>Enter member manually</b></p>
  <div>
    <form class="form-horizontal" id="inputForm"> 
     <div class="control-group">
       <label class="control-label" for="firstInput">First Name:</label>
       <div class="controls">
        <input type="text" id="firstInput" placeholder="First Name"/>
      </div>
    </div>
    <div class="control-group">
     <label class="control-label" for="secondInput">Last Name:</label>
     <div class="controls">
      <input type="text" id="secondInput" placeholder="Last Name"/>
    </div>
  </div>
  <div class="control-group">
   <label class="control-label" for="thirdInput">Email Address:</label>
   <div class="controls">
    <input type="text" id="thirdInput" placeholder="Email Address"/>
  </div>
</div>
<div class="control-group">
 <label class="control-label" for="fourthInput">Department:</label>
 <div class="controls">
  <input type="text" id="fourthInput" placeholder="Department"/>
</div>
</div>
<div class="control-group">
  <label class="control-label" for "fifthInput">Date Hired(mm/yyyy):</label>
  <div class="controls">
    <input type="text" id="fifthInput" placeholder="mm/yyyy"/>
  </div>
</div>
<p><button class="btn btn-large btn-primary" type="type" >Confirm</button></p>
</form>
</div>
<div>
  <form id="fileForm" enctype='multipart/form-data' action='/addCSV' method='POST'>
    <p><b>Or select a csv file with the format: First Name, Last Name, E-mail, Department, Date Hired(mm/yyyy)</b></p> 
    <input type="file" name="fileInput" id='uploadfile'> 
    <input type="submit">
  </form>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  //File submission success or failure in URL
  var success = window.location.search.substring(1);
  if(success == "Success"){alert("New members successfully added")}
  if(success == "Failure"){$("#errmsg").css('display',"").empty().html("Failed to enter all members from csv.  Check format")}
  var inForm = $('#inputForm')
  var fiForm = $('#fileForm')
  //On manual entry submission, post everything to newPerson and check the return
  inForm.submit(function(evt){
    evt.preventDefault();
    $.post('/newPerson',{"first":$("#firstInput").val(),
      "last":$("#secondInput").val(),
      "email":$("#thirdInput").val(),
      "department": $("#fourthInput").val(),
      "hire": $("#fifthInput").val()}, function(msg){
        if (msg){alert("Successfully added:\n"+$("#firstInput").val()+" "+$("#secondInput").val());}
        else {$("#errmsg").css('display',"").empty().html("Already Exists or invalid input")}
        inForm[0].reset();
      })
    return false;
  })
  //File submission verification (sent to /addCSV)
  fiForm.submit(function(evt){
    var inputFile = $('#uploadfile')[0];
    //No file check
    if(!inputFile){
      $("#errmsg").css('display',"").empty().html("No input file detected")
      return false;
    }
    //No file check
    else if (!inputFile.files[0]){
      $("#errmsg").css('display',"").empty().html("Please select file before submitting")
      return false
    }
    //Empty file check
    else if (inputFile.files[0].size == 0){
      $("#errmsg").css('display',"").empty().html("Empty file submitted")
      return false
    }
    return true
  })
})
</script>

{% endblock %}
