{% extends "layout.html" %}
{% block header %}
	<title>Lunch Roulette</title>
{% endblock %}
 {% block body %}
	<div>
		<form id="numLS">
			<p><b>Enter the number of participants for the new lunch group and the date the lunch occurs:</b></p>
			<label class="control-label" for="numLS"></label>
			<input type="number" id="numInNewLS" placeholder="Size of new lunch set"/>
			<input type="date" id="lsDate"/>
			<button class="btn btn-large btn-primary" type="type">Confirm</button>
		</form>
	</div>
	<div id="forTemplate"></div>

	<p><b>Click below to email current lunch set:</b></p>
	<p><button class="btn btn-large btn-primary" type="type" id="sendmail">Email Lunch Set</button></p>
	<p>The 'Email Lunch Set' button will only send 1 email to each person in the lunch set.</p>
	<p>In case of a replacement, you can still click the button and it will only email the entires that haven't been sent one yet.</p>
{% endblock %}

{% block script %}
	<script src="static/js/mustache.js"></script>
	<script type="text/javascript">
	function sendMailToLS(){
		$.get('/emailCurrLS', function(msg){
			if(!msg){$("#errmsg").css('display',"").empty().html("An error occurred while trying to send emails");}
			else {alert("Emails sent successfully")}
		})
	}
	function replaceFun(email){
		if(confirm("Are you sure you want to replace "+email+"?")){
			$.post('/toSkip',{"email":email},function(msg){
				if(!msg){$("#errmsg").css('display',"").empty().html("No valid replacements found.  Entry removed");}
	            genTemp();
	       	})
		}
	}
	function genTemp(){
		$.get('/ls',function(data){
			var html = Mustache.render($("#lsTemplate").text(),data);
			$("#forTemplate").empty().append(html);
		})
	}
	$(document).ready(function(){
		genTemp();
		$("#sendmail").on("click",sendMailToLS);
		var numForm = $("#numLS")
		numForm.submit(function(evt){
			$("#errmsg").css('display',"").empty()
			evt.preventDefault();
			$.post('/newLS',{"num":$('#numInNewLS').val(),"lsDate":$('#lsDate').val()},function(msg){
				if(!msg){$("#errmsg").css('display',"").empty().html("Invalid lunch set size or date");}
				numForm[0].reset()
	      		genTemp();
			})
		})
	})
	</script>
	
	{% raw %}
	<script id="lsTemplate" type="text/template">
	  <p><b>Current Lunch Group</b></p>
	  <p><b>Scheduled for {{lsDate}}</b></p>
	  <table class="table table-striped table-hover">
	    <thead>
	      <tr><th>First Name</th><th>Last Name</th><th>Email Address</th><th>Cannot attend?</th></tr>
	    </thead>
	    <tbody>
	      {{#lunchset}}
	    <tr>
	      <td>{{first}}</td>
	      <td>{{last}}</td>
	      <td>{{email}}</td>
	      <td><button class="btn btn-primary" type="type" onclick="replaceFun('{{email}}')">Replace</button></td>
	    </tr>
	    {{/lunchset}}
	    </tbody>
	  </table>

	</script>
	{% endraw %}
{% endblock %}
