{% extends "layout.html" %}
{% block header %}
	<title>Remove Member</title>
{% endblock %}

{% block body %}
  <h4>Please select person to remove:</h4>
	<form id="removeSel">
		<select id="toRemove"></select>
		<p><button class="btn btn-large btn-primary" type="type" >Confirm</button></p>
	</form>
	<h4> Or click below to display all:</h4>
	<p><button class="btn btn-large btn-primary" type="type" id="dbTemp">Display</button></p>	
	<div id="forTemplate"></div>
{% endblock %}		

{% block script %}
	<script src="static/js/mustache.js"></script>
	<script type="text/javascript">	
		
		function genDBtemp(){
			$.get('/db',function(data){
				var html = Mustache.render($("#dbTemplate").text(),data);
				$("#forTemplate").empty().append(html);
			})
		}

		function rmDD(email){
			var opt = $("#toRemove")[0]
			var optLen = opt.length;
			for(var i=0; i<optLen;i++){
				if(opt[i].text == email){
					opt[i].remove();
					break
				}
			}
		}

		function removeFun(email,flag){
			if(confirm("Are you sure you want to permanently remove "+email+" from the database?")){
				$.post('/removeSelected',{"email":email},function(msg){
					if(!msg){$("#errmsg").css('display',"").empty().html("An error occurred while trying to remove. Please try again");}
					if(msg){$("#errmsg").css('display',"").empty().html("Member successfully removed");rmDD(email);}
					if(flag){
						genDBtemp();
					}
				})
			}
			return ret;
		}

		$(document).ready(function(){
			//Populate dropdown list with emails
			$("#dbTemp").on("click",genDBtemp);
			$.get('/allEmails',
				function(data){
					var dd = $('#toRemove')
					dd.html('');
					var people = data;
					people.sort();
					$.each(people,function(val,text){
						dd.append(
							$('<option></option>').val(val).html(text));
					})
				}
			)
			//Remove selected person from DB and dropdown
			$('#removeSel').submit(function(evt){
				evt.preventDefault();
				var opt = $("#toRemove").find("option:selected");
				if (opt.length > 0){
					removeFun(opt.text(),false);
				}
			})
		})
	</script>

	{% raw %}
	<script id="dbTemplate" type="text/template">
		<p><b>Current Database</b></p>
		<table class="table table-striped table-hover">
			<thead>
				<tr><th>First Name</th><th>Last Name</th><th>Email Address</th><th>Department</th><th>Remove</th></tr>
			</thead>
			<tbody>
				{{#db}}
			<tr>
				<td>{{first}}</td>
				<td>{{last}}</td>
				<td>{{email}}</td>
				<td>{{department}}</td>
				<td><button class="btn btn-primary" type="type" onclick="removeFun('{{email}}',true)">Remove</button></td>
			</tr>
			{{/db}}
			</tbody>
		</table>
	</script>
	{% endraw %}
{% endblock %} 
