<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Boomtown Hunger Games</title>
  </head>
<table width="600" border="0" cellpadding="0" cellspacing="0" >
    <tr>
        <td style="min-width:600px;height:240px;background: url(http://i39.tinypic.com/dfamxg.jpg);background-repeat:no-repeat;background-color: #030303;background-attachment:scroll; color: #000305;font-size: 87%;font-family: Arial, 'Lucida Sans Unicode', san-sarif;line-height: 2.1em;margin: 0;padding: 0;text-align: center;">
            <br/><br/><br/><br/><br/>
            <div style="text-align:center;font-family: Courier New, Courier, monospace; text-align:center; font-size: 2em;font-weight: bold;color:#333;">
                Insert name here
            <br/><br/>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding: 20px;color: #000305;font-family: Courier New, Courier, monospace; font-size: 1em; line-height: 1.55em;">
Congrats! Your name has been selected from the Reaping ball, and you have the chance to serve as Tribute TOMORROW in the BoomTown Hunger Games. Head up to the front of 106 to meet the other Tributes and venture to the Arena (the Alley) at 12:00pm tomorrow.
<br/><br/>
If you're unfortunately not able to join the other Tributes tomorrow, please contact the Game Master (will@boomtownroi.com) by 10:30am to have your name put back into the Reaping ball.
<br/><br/><center><img src="http://cdn2.hubspot.net/hub/279184/file-58613847-png/images/crm-system.png" width="20%" height="auto"></center>

</div>
        </td>
    </tr>
    <tr>
        <td style="min-width:600px;background: url(http://i41.tinypic.com/1986yt.png);line-height:5.0em">
            <br/>
        </td>
    </tr>

      </table>