<!DOCTYPE html>
<html>
<head>
  <title>Add Member</title>
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <p>Enter member manually</p>
  <div class="container">
    <form class="form-horizontal" id="inputForm"> 
     <div class="control-group">
       <label class="control-label" for="firstInput">First Name:</label>
       <div class="controls">
        <input type="text" id="firstInput" placeholder="First Name"/>
      </div>
    </div>
    <div class="control-group">
     <label class="control-label" for="secondInput">Last Name:</label>
     <div class="controls">
      <input type="text" id="secondInput" placeholder="Last Name"/>
    </div>
  </div>
  <div class="control-group">
   <label class="control-label" for="thirdInput">Email Address:</label>
   <div class="controls">
    <input type="text" id="thirdInput" placeholder="Email Address"/>
  </div>
</div>
<div class="control-group">
 <label class="control-label" for="fourthInput">Department:</label>
 <div class="controls">
  <input type="text" id="fourthInput" placeholder="Department"/>
 </div>
</div>
<p><button class="btn btn-large btn-primary" type="type" >Confirm</button></p>
</form>
</div>
<div>
  <form id="fileForm" enctype=multipart/form-data>
      <p>Or select a csv file with the form:First Name, Last Name, E-mail, Department</p> 
      <input type="file" id="fileInput"> 
      <p><button class='btn btn-large btn-primary' type='type'>Submit</button></p>
  </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var inForm = $('#inputForm')
  inForm.submit(function(evt){
    evt.preventDefault();
    $.ajax({
      type:"POST",
      url: '/newPerson',
      data: {"first":$("#firstInput").val(),
      "last":$("#secondInput").val(),
      "email":$("#thirdInput").val(),
      "department": $("#fourthInput").val()},
      dataType:'json',
      success: function(msg){
        if (msg){alert("Successfully added");}
        else {alert("Already exists");} 
        inForm[0].reset(); 
      }         
    })
    return false;
  })
})
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var fileFormVar = $('#fileForm')
  fileFormVar.submit(function(evt){
    evt.preventDefault();
    $.post('/addCSV',$("#fileInput").val(), function(){
      alert("Success")
    })
  })
})
</script>
</body>
</html>
