<!DOCTYPE html>
<html>
  <head>
    <title>Lunch Roulette</title>
  </head>
  <body>
    <div class="container-fluid">
      <form class="form-horizontal">
	<legend>Add a new person</legend>
	<div class="control-group">
	  <label class="control-label" for="firstInput"></label>
	  <div class="controls">
	  
	  </div>
	</div>
	</form>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
