{% extends "layout.html" %}
{% block header %}
	<title>Lunch Roulette</title>
{% endblock %}
 {% block body %}
	<div>
		<form id="numLS">
			<p><b>Enter the number of participants for new lunch set and the date:</b></p>
			<label class="control-label" for="numLS"></label>
			<input type="number" id="numInNewLS" placeholder="Size of new lunch set"/>
			<button class="btn btn-large btn-primary" type="type">Confirm</button>
		</form>
	</div>
	<div id="forTemplate"></div>
{% endblock %}

{% block script %}
	<script src="static/js/mustache.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		genTemp();
		var numForm = $("#numLS")
		numForm.submit(function(evt){
			evt.preventDefault();
			$.post('/newLS',{"num":$('#numInNewLS').val()},function(msg){
				if(!msg){alert("Invalid input");}
				numForm[0].reset()
	      genTemp();
			})
		})
	})
	function replaceFun(email){
		if(confirm("Are you sure you want to replace "+email+"?")){
			$.post('/toSkip',{"email":email},function(msg){
				if(!msg){alert("No valid replacements found.  Entry removed");}
	            genTemp();
	       	})
		}
	}
	function genTemp(){
		$.get('/ls',function(data){
			var html = Mustache.render($("#lsTemplate").text(),data);
			$("#forTemplate").empty().append(html);
		})
	}
	</script>
	
	{% raw %}
	<script id="lsTemplate" type="text/template">
	  <p><b>Current Lunch Set</b></p>
	  <table class="table table-striped table-hover">
	    <thead>
	      <tr><th>First Name</th><th>Last Name</th><th>Email Address</th><th>Cannot attend?</th></tr>
	    </thead>
	    <tbody>
	      {{#lunchset}}
	    <tr>
	      <td>{{first}}</td>
	      <td>{{last}}</td>
	      <td>{{email}}</td>
	      <td><button class="btn btn-primary" type="type" onclick="replaceFun('{{email}}')">Replace</button></td>
	    </tr>
	    {{/lunchset}}
	    </tbody>
	  </table>

	</script>
	{% endraw %}
{% endblock %}
