<!DOCTYPE html>
<html>
<head>
	<title>Lunch Roulette</title>
	 <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container">
		<form class="form-horizontal" id="numLS">
			<div class="control-group">
				<p>Please enter the number of participants for new lunch set:</p>
				<label class="control-label" for="numLS"></label>
				<div class="controls">
					<input type="number" id="numInNewLS" placeholder="Size of new lunch set"/>
					<input type="date" id="lsDate" placeholder="When is the lunch?"/>
					<button class="btn btn-large btn-primary" type="type">Confirm</button>
				</div>
			</div>
		</form>
	</div>
	<div id="forTemplate"></div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
	<script src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var numForm = $("#numLS")
		numForm.submit(function(evt){
			evt.preventDefault();
			$.post('/newLS',{"num":$('#numInNewLS').val()},function(msg){ //why isn't this working?
				if(msg){location.reload();}
				else {alert("Invalid input");} //Ask about better way to refresh table without reloading the entire page
			})
		})
	})
	</script>
	<div>
		<script src="static/js/mustache.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$.get('/ls',function(data){
				$("#forTemplate").empty();
				var html = Mustache.render($("#lsTemplate").text(),data);
				$("#forTemplate").append(html);
			})
		})	
		</script>
		<script id="lsTemplate" type="text/template">
		<p><b>Current Lunch Set</b></p>
		<table border='1'>
		<tr><td>First Name</td><td>Last Name</td><td>Email Address</td><td>Cannot attend?</td></tr>
			{{#lunchset}}
				<tr>
					<td>{{first}}</td>
					<td>{{last}}</td>
					<td>{{email}}</td>
					<td><button class="btn  btn-primary" type="type" onclick="replaceFun('{{email}}')">Replace</button></td>
				</tr>
			{{/lunchset}}
		</table>
		</script>
		<script>
		function replaceFun(email){
			$.post('/toSkip',{"email":email},function(){
				location.reload();
			})
		}
		</script>
	</div>
</body>
</html>