<!DOCTYPE html>
<html>
<head>
	<title>Remove Member</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<h4>Please select person to remove</h4>
</head>
<body>
	<form id="removeSel" onsubmit="return confirm('Do you reall wish to remove this person?');">
		<select id="toRemove">
		</select>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
		<script type="text/javascript">
		$(document).ready(function(){
			$.get('/allEmails',
				function(data){
					var dd = $('#toRemove')
					dd.html('');
					var people = data;
					$.each(people,function(val,text){
						dd.append(
							$('<option></option>').val(val).html(text));
					})

				});
		});
		</script>
		<p>
			<button class="btn btn-large btn-primary" type="type" >Confirm</button>
		</p>
	</form>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="static/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#removeSel').submit(function(evt){
			evt.preventDefault();
			var opt = $("#toRemove").find("option:selected");
			if (opt.length > 0){
				$.post('/removeSelected', {"email":opt.text()});
				location.reload(true);
			}
			return true;
		})
	})
	</script>
	</body>
	</html>